* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-black, #3b4144);
}

.header {
  width: 100%;
  height: 75px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  backdrop-filter: blur(30px);
  position: fixed;
}

.information_post {
  display: inline-flex;
  margin-bottom: 6px;
}
.information_post a {
  text-decoration: none;
}
.information_post a .type_post {
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  line-height: 22.5px;
  letter-spacing: 0.175px;
  color: #007882;
}
.information_post .user_post, .information_post .container .news .news_body .all_information_news .information_news .date_post, .container .news .news_body .all_information_news .information_news .information_post .date_post, .information_post .date_post {
  padding-left: 8px;
  color: var(--primary-black, #3b4144);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px;
  letter-spacing: 0.015px;
}
.information_post .date_post {
  opacity: 0.5;
}
.information_post .ellipse {
  padding-left: 8px;
}

.title_post {
  width: 576px;
  text-decoration: none;
}
.title_post p {
  color: #3b4144;
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
  letter-spacing: 0.027px;
  margin-top: 16px;
}
.title_post p:hover {
  color: #007882;
}

.menu_header, .information_header, .logo {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu_header a.menu_header1:first-child, .information_header a.menu_header1:first-child, .logo a.menu_header1:first-child {
  margin-left: 48px;
}
.menu_header a.menu_header1:hover, .information_header a.menu_header1:hover, .logo a.menu_header1:hover {
  opacity: 0.7;
}
.menu_header a.menu_header1:focus, .information_header a.menu_header1:focus, .logo a.menu_header1:focus {
  opacity: 1;
  padding-top: 9px;
  padding-bottom: 8px;
  border-bottom: 2px solid #d93c23;
  border-radius: 1px;
}
.menu_header a.menu_header1, .information_header a.menu_header1, .logo a.menu_header1 {
  margin-left: 47.25px;
  text-decoration: none;
  color: #3b4144;
  opacity: 0.5;
}

.reponsive_logo {
  display: none;
}
.reponsive_logo #reponsive_logo_menu {
  margin-right: 12px;
}

.information_header .avatar {
  margin-right: 48px;
}
.information_header .heart {
  margin-right: 24px;
}
.information_header .post_header .post, .information_header .post_header #menu_responsive .action_menu .account .register, #menu_responsive .action_menu .account .information_header .post_header .register, .information_header .post_header #menu_responsive .action_menu .account .log_in, #menu_responsive .action_menu .account .information_header .post_header .log_in {
  border: 0;
  color: #ffffff;
  margin-right: 24px;
  padding: 6px 24px;
  border-radius: 30px;
  background-color: #d93c23;
  text-decoration: none;
}
.information_header .post_header .post:hover, .information_header .post_header #menu_responsive .action_menu .account .register:hover, #menu_responsive .action_menu .account .information_header .post_header .register:hover, .information_header .post_header #menu_responsive .action_menu .account .log_in:hover, #menu_responsive .action_menu .account .information_header .post_header .log_in:hover {
  opacity: 0.8;
}
.information_header .profile_header {
  margin-right: 24px;
}
.information_header .profile_header .job {
  font-weight: normal;
  text-align: end;
  opacity: 0.5;
}

.container {
  width: 100%;
  margin-top: 150px;
  position: absolute;
}
.container .news {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.container .news .news_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .news .news_header .return .return_click {
  display: flex;
  text-decoration: none;
}
.container .news .news_header .return .return_click .return_text {
  color: #d93c23;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.175px;
  margin-left: 16px;
}
.container .news .news_header .column {
  display: flex;
}
.container .news .news_header .column .column_text {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.5px; /* 150% */
  letter-spacing: 0.015px;
  margin-right: 16px;
}
.container .news .news_header .column .name_column {
  padding: 6px 36px;
  border-radius: 36px;
  background: var(--secondary-green, #007882);
  color: var(--primary-white, #fff);
  letter-spacing: 0.2px;
}
.container .news .news_body .title_news {
  margin-top: 61.5px;
}
.container .news .news_body .title_news p {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
  letter-spacing: -0.32px;
}
.container .news .news_body .all_information_news {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.container .news .news_body .all_information_news .information_news {
  display: inline-flex;
  margin-bottom: 6px;
  align-items: center;
}
.container .news .news_body .all_information_news .information_news a {
  text-decoration: none;
}
.container .news .news_body .all_information_news .information_news a .type_post {
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  line-height: 22.5px;
  letter-spacing: 0.175px;
  color: #007882;
}
.container .news .news_body .all_information_news .information_news .user_post, .container .news .news_body .all_information_news .information_news .date_post {
  padding-left: 8px;
  color: var(--primary-black, #3b4144);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px;
  letter-spacing: 0.015px;
}
.container .news .news_body .all_information_news .information_news .date_post {
  opacity: 0.5;
}
.container .news .news_body .all_information_news .information_news .ellipse {
  padding-left: 8px;
  width: 3px;
  height: 3px;
  flex-shrink: 0;
}
.container .news .news_body .all_information_news .share_news {
  display: flex;
  gap: 8px;
}
.container .news .news_body .all_information_news .share_news .mail {
  display: flex;
  height: 32px;
  padding: 2px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--secondary-grey, #ccc);
  text-decoration: none;
}
.container .news .news_body .all_information_news .share_news .mail .mail_text, .container .news .news_body .all_information_news .share_news .mail .like .like_text, .container .news .news_body .all_information_news .share_news .like .mail .like_text, .container .news .news_body .all_information_news .share_news .mail .facebook .fb_text, .container .news .news_body .all_information_news .share_news .facebook .mail .fb_text {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.175px;
  color: #ffffff;
}
.container .news .news_body .all_information_news .share_news .facebook {
  display: flex;
  height: 32px;
  padding: 2px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  text-decoration: none;
  background: #395185;
}
.container .news .news_body .all_information_news .share_news .facebook .fb_text {
  color: #ffffff;
}
.container .news .news_body .all_information_news .share_news .like {
  display: flex;
  height: 32px;
  padding: 2px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #3b4144;
}
.container .news .news_body .all_information_news .share_news .like .like_text {
  color: #3b4144;
}
.container .news .news_body .img_news {
  margin-top: 36px;
}
.container .news .news_body .img_news .img {
  width: 100%;
}
.container .news .news_body .content_news {
  margin-top: 36px;
}
.container .news .news_body .content_news p {
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: 0.08px;
}
.container .news .news_body .all_img_news {
  margin-top: 36px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.container .news .news_body .all_img_news .img_left {
  width: 61%;
}
.container .news .news_body .all_img_news .img_left .img {
  width: 100%;
  height: 100%;
}
.container .news .news_body .all_img_news .img_right {
  display: flex;
  flex-direction: column;
  width: 36%;
}
.container .news .news_body .all_img_news .img_right .more_img1 {
  margin-bottom: 16px;
  width: 100%;
  height: 100%;
}
.container .news .news_body .all_img_news .img_right .more_img2 {
  width: 100%;
  height: 100%;
}
.container .news .news_body .content_header2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
  letter-spacing: -0.96px;
  margin-top: 36px;
}
.container .news .news_body .content2 {
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: 0.08px;
  margin-top: 16px;
}
.container .news .news_body .list_content {
  margin-left: 16px;
}
.container .news .news_body .list_content li {
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.08px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.container .news .news_body .list_content li b {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
}
.container .news .news_body .keywords {
  display: flex;
}
.container .news .news_body .keywords .keyword {
  font-size: 15px;
  font-weight: 400;
  display: inline-flex;
  padding: 4px 24px;
  align-items: center;
  border-radius: 36px;
  background: #e6e6e6;
  margin-right: 16px;
}
.container .post, .container #menu_responsive .action_menu .account .register, #menu_responsive .action_menu .account .container .register, .container #menu_responsive .action_menu .account .log_in, #menu_responsive .action_menu .account .container .log_in {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
}
.container .post .post_header, .container #menu_responsive .action_menu .account .register .post_header, #menu_responsive .action_menu .account .container .register .post_header, .container #menu_responsive .action_menu .account .log_in .post_header, #menu_responsive .action_menu .account .container .log_in .post_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .post .post_header .left_header, .container #menu_responsive .action_menu .account .register .post_header .left_header, #menu_responsive .action_menu .account .container .register .post_header .left_header, .container #menu_responsive .action_menu .account .log_in .post_header .left_header, #menu_responsive .action_menu .account .container .log_in .post_header .left_header {
  display: flex;
}
.container .post .post_header .left_header p, .container #menu_responsive .action_menu .account .register .post_header .left_header p, #menu_responsive .action_menu .account .container .register .post_header .left_header p, .container #menu_responsive .action_menu .account .log_in .post_header .left_header p, #menu_responsive .action_menu .account .container .log_in .post_header .left_header p {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 150% */
  letter-spacing: 0.027px;
  margin-right: 16px;
}
.container .post .post_header .left_header a, .container #menu_responsive .action_menu .account .register .post_header .left_header a, #menu_responsive .action_menu .account .container .register .post_header .left_header a, .container #menu_responsive .action_menu .account .log_in .post_header .left_header a, #menu_responsive .action_menu .account .container .log_in .post_header .left_header a {
  text-decoration: none;
  display: inline-flex;
  padding: 6px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 36px;
  background: var(--secondary-green, #007882);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.175px;
  color: #ffffff;
}
.container .post .post_header .right_header a, .container #menu_responsive .action_menu .account .register .post_header .right_header a, #menu_responsive .action_menu .account .container .register .post_header .right_header a, .container #menu_responsive .action_menu .account .log_in .post_header .right_header a, #menu_responsive .action_menu .account .container .log_in .post_header .right_header a {
  text-decoration: none;
}
.container .post .post_header .right_header a p, .container #menu_responsive .action_menu .account .register .post_header .right_header a p, #menu_responsive .action_menu .account .container .register .post_header .right_header a p, .container #menu_responsive .action_menu .account .log_in .post_header .right_header a p, #menu_responsive .action_menu .account .container .log_in .post_header .right_header a p {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px; /* 150% */
  letter-spacing: 0.015px;
}
.container .post .post_header .right_header a .responsive, .container #menu_responsive .action_menu .account .register .post_header .right_header a .responsive, #menu_responsive .action_menu .account .container .register .post_header .right_header a .responsive, .container #menu_responsive .action_menu .account .log_in .post_header .right_header a .responsive, #menu_responsive .action_menu .account .container .log_in .post_header .right_header a .responsive {
  display: none;
}
.container .post .all_list, .container #menu_responsive .action_menu .account .register .all_list, #menu_responsive .action_menu .account .container .register .all_list, .container #menu_responsive .action_menu .account .log_in .all_list, #menu_responsive .action_menu .account .container .log_in .all_list {
  margin-top: 36.5px;
}
.container .post .all_list .more_list, .container #menu_responsive .action_menu .account .register .all_list .more_list, #menu_responsive .action_menu .account .container .register .all_list .more_list, .container #menu_responsive .action_menu .account .log_in .all_list .more_list, #menu_responsive .action_menu .account .container .log_in .all_list .more_list {
  display: flex;
  margin-bottom: 36px;
}
.container .post .all_list .more_list .img_list, .container #menu_responsive .action_menu .account .register .all_list .more_list .img_list, #menu_responsive .action_menu .account .container .register .all_list .more_list .img_list, .container #menu_responsive .action_menu .account .log_in .all_list .more_list .img_list, #menu_responsive .action_menu .account .container .log_in .all_list .more_list .img_list {
  width: 336px;
  height: 200px;
  flex-shrink: 0;
}
.container .post .all_list .more_list .img_list #img, .container #menu_responsive .action_menu .account .register .all_list .more_list .img_list #img, #menu_responsive .action_menu .account .container .register .all_list .more_list .img_list #img, .container #menu_responsive .action_menu .account .log_in .all_list .more_list .img_list #img, #menu_responsive .action_menu .account .container .log_in .all_list .more_list .img_list #img {
  position: absolute;
  width: 336px;
  height: 200px;
}
.container .post .all_list .more_list .img_list #like_list, .container #menu_responsive .action_menu .account .register .all_list .more_list .img_list #like_list, #menu_responsive .action_menu .account .container .register .all_list .more_list .img_list #like_list, .container #menu_responsive .action_menu .account .log_in .all_list .more_list .img_list #like_list, #menu_responsive .action_menu .account .container .log_in .all_list .more_list .img_list #like_list {
  position: absolute;
  margin-left: 288px;
  margin-top: 24px;
}
.container .post .all_list .more_list .all_information_list, .container #menu_responsive .action_menu .account .register .all_list .more_list .all_information_list, #menu_responsive .action_menu .account .container .register .all_list .more_list .all_information_list, .container #menu_responsive .action_menu .account .log_in .all_list .more_list .all_information_list, #menu_responsive .action_menu .account .container .log_in .all_list .more_list .all_information_list {
  margin-left: 24px;
  margin-top: auto;
  margin-bottom: auto;
}
.container .post .all_list .more_list .all_information_list .title_list_respon, .container #menu_responsive .action_menu .account .register .all_list .more_list .all_information_list .title_list_respon, #menu_responsive .action_menu .account .container .register .all_list .more_list .all_information_list .title_list_respon, .container #menu_responsive .action_menu .account .log_in .all_list .more_list .all_information_list .title_list_respon, #menu_responsive .action_menu .account .container .log_in .all_list .more_list .all_information_list .title_list_respon {
  display: none;
}
.container .post .all_list .more_list .all_information_list .title_list a, .container #menu_responsive .action_menu .account .register .all_list .more_list .all_information_list .title_list a, #menu_responsive .action_menu .account .container .register .all_list .more_list .all_information_list .title_list a, .container #menu_responsive .action_menu .account .log_in .all_list .more_list .all_information_list .title_list a, #menu_responsive .action_menu .account .container .log_in .all_list .more_list .all_information_list .title_list a {
  text-decoration: none;
}
.container .post .all_list .more_list .all_information_list .title_list a p, .container #menu_responsive .action_menu .account .register .all_list .more_list .all_information_list .title_list a p, #menu_responsive .action_menu .account .container .register .all_list .more_list .all_information_list .title_list a p, .container #menu_responsive .action_menu .account .log_in .all_list .more_list .all_information_list .title_list a p, #menu_responsive .action_menu .account .container .log_in .all_list .more_list .all_information_list .title_list a p {
  color: #3b4144;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.027px;
}
.container .post .all_list .more_list .all_information_list .title_list a p:hover, .container #menu_responsive .action_menu .account .register .all_list .more_list .all_information_list .title_list a p:hover, #menu_responsive .action_menu .account .container .register .all_list .more_list .all_information_list .title_list a p:hover, .container #menu_responsive .action_menu .account .log_in .all_list .more_list .all_information_list .title_list a p:hover, #menu_responsive .action_menu .account .container .log_in .all_list .more_list .all_information_list .title_list a p:hover {
  color: #007882;
}
.container .post .all_list .more_list .all_information_list .information_list, .container #menu_responsive .action_menu .account .register .all_list .more_list .all_information_list .information_list, #menu_responsive .action_menu .account .container .register .all_list .more_list .all_information_list .information_list, .container #menu_responsive .action_menu .account .log_in .all_list .more_list .all_information_list .information_list, #menu_responsive .action_menu .account .container .log_in .all_list .more_list .all_information_list .information_list {
  display: inline-flex;
}
.container .post .all_list .more_list .all_information_list .information_list .type_list, .container #menu_responsive .action_menu .account .register .all_list .more_list .all_information_list .information_list .type_list, #menu_responsive .action_menu .account .container .register .all_list .more_list .all_information_list .information_list .type_list, .container #menu_responsive .action_menu .account .log_in .all_list .more_list .all_information_list .information_list .type_list, #menu_responsive .action_menu .account .container .log_in .all_list .more_list .all_information_list .information_list .type_list {
  margin-right: 8.8px;
  color: #007882;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.175px;
  margin-top: auto;
  margin-bottom: auto;
}
.container .post .all_list .more_list .all_information_list .information_list .ellipse, .container #menu_responsive .action_menu .account .register .all_list .more_list .all_information_list .information_list .ellipse, #menu_responsive .action_menu .account .container .register .all_list .more_list .all_information_list .information_list .ellipse, .container #menu_responsive .action_menu .account .log_in .all_list .more_list .all_information_list .information_list .ellipse, #menu_responsive .action_menu .account .container .log_in .all_list .more_list .all_information_list .information_list .ellipse {
  margin-right: 8.8px;
}
.container .post .all_list .more_list .all_information_list .information_list .user_list, .container #menu_responsive .action_menu .account .register .all_list .more_list .all_information_list .information_list .user_list, #menu_responsive .action_menu .account .container .register .all_list .more_list .all_information_list .information_list .user_list, .container #menu_responsive .action_menu .account .log_in .all_list .more_list .all_information_list .information_list .user_list, #menu_responsive .action_menu .account .container .log_in .all_list .more_list .all_information_list .information_list .user_list {
  color: #3b4144;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px;
  letter-spacing: 0.015px;
  margin-right: 8.8px;
}
.container .post .all_list .more_list .all_information_list .information_list .date_list, .container #menu_responsive .action_menu .account .register .all_list .more_list .all_information_list .information_list .date_list, #menu_responsive .action_menu .account .container .register .all_list .more_list .all_information_list .information_list .date_list, .container #menu_responsive .action_menu .account .log_in .all_list .more_list .all_information_list .information_list .date_list, #menu_responsive .action_menu .account .container .log_in .all_list .more_list .all_information_list .information_list .date_list {
  color: #3b4144;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px;
  letter-spacing: 0.015px;
  opacity: 0.5;
  margin-right: 8.8px;
}
.container .post .all_list .more_list .all_information_list .content_list p, .container #menu_responsive .action_menu .account .register .all_list .more_list .all_information_list .content_list p, #menu_responsive .action_menu .account .container .register .all_list .more_list .all_information_list .content_list p, .container #menu_responsive .action_menu .account .log_in .all_list .more_list .all_information_list .content_list p, #menu_responsive .action_menu .account .container .log_in .all_list .more_list .all_information_list .content_list p {
  color: #3b4144;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.08px;
  opacity: 0.5;
}
.container .post .all_list_responsive, .container #menu_responsive .action_menu .account .register .all_list_responsive, #menu_responsive .action_menu .account .container .register .all_list_responsive, .container #menu_responsive .action_menu .account .log_in .all_list_responsive, #menu_responsive .action_menu .account .container .log_in .all_list_responsive {
  display: none;
}

#menu_responsive {
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#menu_responsive .close_menu {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
#menu_responsive .close_menu #close {
  margin-right: 16px;
}
#menu_responsive .list_menu {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  gap: 50px;
}
#menu_responsive .list_menu a {
  color: #272727;
  text-decoration: none;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
  letter-spacing: -0.32px;
  opacity: 0.5;
  gap: 25px;
}
#menu_responsive .list_menu a:focus {
  color: #d93c23;
  opacity: 1;
}
#menu_responsive .action_menu {
  margin-bottom: 46px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#menu_responsive .action_menu .post, #menu_responsive .action_menu .account .register, #menu_responsive .action_menu .account .log_in {
  text-decoration: none;
  display: flex;
  height: 32px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.8px; /* 152.308% */
  letter-spacing: 0.163px;
  background-color: #d93c23;
}
#menu_responsive .action_menu .account {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
#menu_responsive .action_menu .account .log_in {
  width: 35%;
  color: #3b4144;
  background-color: #ffffff;
  border: 1px solid #272727;
}
#menu_responsive .action_menu .account .register {
  width: 35%;
  background-color: #3b4144;
}

/*# sourceMappingURL=blog.css.map */
