@media (min-width: 1025px) {
  .header_blog .information_header .notify_img {
    display: none;
  }
  .container_blog .news .news_body .all_information_news .share_news .mail {
    display: flex;
    height: 32px;
    padding: 2px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--secondary-grey, #ccc);
    text-decoration: none;
  }
  .container_blog .post .post_header .right_header a .responsive {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header_blog {
    width: 100%;
    height: 75px;
  }
  .header_blog .menu_header {
    display: none;
  }
  .header_blog .reponsive_logo {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 44px;
  }
  .header_blog .reponsive_logo .reponsive_logo_menu {
    margin-right: 24px;
  }
  .header_blog .logo {
    display: none;
  }
  .header_blog .information_header .post_header {
    display: none;
  }
  .header_blog .information_header .notify_img {
    width: 24px;
    height: 24px;
    margin-right: 24px;
  }
  .header_blog .information_header .avatar {
    margin-right: 44px;
  }
  .container_blog {
    margin-top: 120px;
  }
  .container_blog .news {
    width: 90%;
  }
  .container_blog .post {
    width: 90%;
  }
  #menu_responsive .action_menu .account .log_in {
    width: 43%;
  }
  #menu_responsive .action_menu .account .register {
    width: 43%;
  }
}
@media (max-width: 800px) {
  .header_blog {
    width: 100%;
    height: 75px;
  }
  .header_blog .profile_header {
    display: none;
  }
  .container_blog {
    margin-top: 120px;
  }
  .container_blog .news .news_body .title_news {
    margin-top: 30.5px;
  }
  .container_blog .news .news_body .all_information_news .share_news .mail .mail_text {
    display: none;
  }
  .container_blog .news .news_body .all_information_news .share_news .facebook .fb_text {
    display: none;
  }
  .container_blog .news .news_body .all_information_news .share_news .like .like_text {
    display: none;
  }
  .container_blog .post {
    width: 90%;
  }
  .container_blog .post .all_list .more_list .all_information_list .title_list_respon {
    display: flex;
    text-decoration: none;
  }
  .container_blog .post .all_list .more_list .all_information_list .title_list_respon a {
    text-decoration: none;
  }
  .container_blog .post .all_list .more_list .all_information_list .title_list_respon a p {
    color: #3b4144;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.027px;
  }
  .container_blog .post .all_list .more_list .all_information_list .title_list_respon a p:hover {
    color: #007882;
  }
  .container_blog .post .all_list .more_list .all_information_list .title_list {
    display: none;
  }
  #menu_responsive .action_menu .account .log_in {
    width: 40%;
  }
  #menu_responsive .action_menu .account .register {
    width: 40%;
  }
}
@media (max-width: 630px) {
  .container_blog .post .all_list .more_list .all_information_list .title_list_respon a p {
    color: #3b4144;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.027px;
  }
  .container_blog .post .all_list .more_list .all_information_list .information_list .title_list {
    font-size: 12px;
  }
  .container_blog .post .all_list .more_list .all_information_list .information_list .ellipse {
    margin-right: 5.8px;
  }
  .container_blog .post .all_list .more_list .all_information_list .information_list .user_list {
    font-size: 13px;
  }
  .container_blog .post .all_list .more_list .all_information_list .information_list .date_list {
    font-size: 13px;
  }
  .container_blog .post .all_list .more_list .all_information_list .content_list p {
    font-size: 15px;
  }
}
@media (max-width: 590px) {
  .header_blog {
    width: 100%;
    height: 80px;
  }
  .header_blog .profile_header {
    display: none;
  }
  .header_blog .reponsive_logo {
    margin-left: 22px;
  }
  .header_blog .reponsive_logo .reponsive_logo_menu {
    margin-right: 16.5px;
  }
  .header_blog .information_header .notify_img {
    margin-right: 18px;
  }
  .header_blog .information_header .heart {
    margin-right: 18px;
  }
  .header_blog .information_header .avatar {
    margin-right: 22px;
  }
  .container_blog {
    margin-top: 120px;
  }
  .container_blog .news .news_header .column .column_text {
    display: none;
  }
  .container_blog .news .news_body .title_news {
    margin-top: 30.5px;
  }
  .container_blog .news .news_body .all_img_news {
    flex-direction: column;
  }
  .container_blog .news .news_body .all_img_news .img_left {
    width: 100%;
  }
  .container_blog .news .news_body .all_img_news .img_left img {
    width: 100%;
  }
  .container_blog .news .news_body .all_img_news .img_right {
    flex-direction: row;
    width: 100%;
    height: 161px;
    justify-content: space-between;
  }
  .container_blog .news .news_body .all_img_news .img_right .more_img1 {
    width: 49%;
  }
  .container_blog .news .news_body .all_img_news .img_right .more_img2 {
    width: 49%;
  }
  .container_blog .news_body .all_information_news {
    flex-direction: column;
  }
  .container_blog .news_body .all_information_news .information_news .type_post {
    font-size: 13px;
  }
  .container_blog .news_body .all_information_news .information_news .user_post {
    font-size: 12px;
  }
  .container_blog .news_body .all_information_news .information_news .date_post {
    font-size: 12px;
  }
  .container_blog .news_body .all_information_news .share_news {
    justify-content: space-between;
  }
  .container_blog .news_body .all_information_news .share_news .mail {
    width: 20%;
  }
  .container_blog .news_body .all_information_news .share_news .facebook {
    width: 20%;
  }
  .container_blog .news_body .all_information_news .share_news .like {
    width: 20%;
  }
  .container_blog .news_body .content_header2 {
    font-size: 16px;
  }
  .container_blog .news_body .content2 {
    font-size: 14px;
  }
  .container_blog .news_body .list_content li {
    font-size: 14px;
  }
  .container_blog .news_body .list_content li b {
    font-size: 14px;
  }
  .container_blog .post .post_header {
    margin-top: 30px;
  }
  .container_blog .post .post_header .left_header {
    align-items: center;
  }
  .container_blog .post .post_header .left_header p {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 150% */
  }
  .container_blog .post .post_header .left_header a {
    height: 15px;
    display: inline-flex;
    padding: 4px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 36px;
    background: var(--secondary-green, #007882);
    font-size: 14px;
  }
  .container_blog .post .post_header .right_header a p {
    display: none;
  }
  .container_blog .post .post_header .right_header a .responsive {
    display: block;
  }
  .container_blog .post .all_list {
    display: none;
  }
  .container_blog .post .all_list_responsive {
    display: inline;
  }
  .container_blog .post .all_list_responsive .more_list_responsive {
    margin-top: 30px;
  }
  .container_blog .post .all_list_responsive .more_list_responsive .title_list a {
    text-decoration: none;
  }
  .container_blog .post .all_list_responsive .more_list_responsive .title_list a p {
    color: #3b4144;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 150% */
  }
  .container_blog .post .all_list_responsive .more_list_responsive .title_list a p:hover {
    color: #007882;
  }
  .container_blog .post .all_list_responsive .more_list_responsive .information_list {
    display: inline-flex;
  }
  .container_blog .post .all_list_responsive .more_list_responsive .information_list .type_list {
    color: #007882;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.175px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
  }
  .container_blog .post .all_list_responsive .more_list_responsive .information_list .ellipse {
    margin-right: 6px;
  }
  .container_blog .post .all_list_responsive .more_list_responsive .information_list .user_list {
    color: #3b4144;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.5px;
    letter-spacing: 0.015px;
    margin-right: 6px;
  }
  .container_blog .post .all_list_responsive .more_list_responsive .information_list .date_list {
    color: #3b4144;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.5px;
    letter-spacing: 0.015px;
    opacity: 0.5;
    margin-right: 6px;
  }
  .container_blog .post .all_list_responsive .more_list_responsive .under {
    display: flex;
    width: 100%;
  }
  .container_blog .post .all_list_responsive .more_list_responsive .under .img_list {
    margin-top: 8px;
    width: 50%;
    height: 105.417px;
  }
  .container_blog .post .all_list_responsive .more_list_responsive .under .img_list #img {
    width: 44%;
    height: 105.417px;
    position: absolute;
  }
  .container_blog .post .all_list_responsive .more_list_responsive .under .img_list #like_list {
    margin-left: 16px;
    margin-top: 65.13px;
    position: absolute;
  }
  .container_blog .post .all_list_responsive .more_list_responsive .under .content_list {
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 9px;
    opacity: 0.5;
  }
  .container_blog .post .all_list_responsive .more_list_responsive .under .content_list p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    letter-spacing: 0.07px;
  }
  #menu_responsive .action_menu .account .log_in {
    width: 32%;
  }
  #menu_responsive .action_menu .account .register {
    width: 32%;
  }
}

/*# sourceMappingURL=reponsiveblog.css.map */
