@media (min-width: 1025px) {
  .header .reponsive_logo {
    display: none;
  }
  .header .information_header .notify_img {
    display: none;
  }
  .body .list .all_list .more_list .all_information_list .title_list_respon {
    display: none;
  }
  .body .list .all_list_responsive {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header {
    width: 100%;
    height: 75px;
  }
  .header .menu_header {
    display: none;
  }
  .header .logo {
    display: none;
  }
  .header .reponsive_logo {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 44px;
  }
  .header .reponsive_logo .reponsive_logo_menu {
    margin-right: 24px;
  }
  .header .information_header .notify_img {
    margin-right: 24px;
  }
  .header .information_header .post_header {
    display: none;
  }
  .container {
    padding-top: 80px;
  }
  .container .banner {
    height: 257px;
    margin-top: 54px;
  }
  .container .banner .img_banner {
    width: 934px;
    height: auto;
    flex-shrink: 0;
  }
  .container .banner .img_banner .img {
    width: 100%;
    height: 257px;
    flex-shrink: 0;
  }
  .container .banner .content_banner {
    display: none;
  }
  .container .body {
    width: 934px;
  }
  .container .body .list .all_list .more_list .all_information_list .title_list_respon {
    display: none;
  }
  .container .body .list .all_list_responsive {
    display: none;
  }
}
@media (max-width: 768px) {
  .header {
    width: 100%;
    height: 75px;
  }
  .header .menu_header {
    display: none;
  }
  .header .logo {
    display: none;
  }
  .header .reponsive_logo {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 44px;
  }
  .header .reponsive_logo .reponsive_logo_menu {
    margin-right: 24px;
  }
  .header .information_header .notify_img {
    margin-right: 24px;
  }
  .header .information_header .post_header {
    display: none;
  }
  .header .information_header .profile_header {
    display: none;
  }
  .container {
    padding-top: 80px;
  }
  .container .banner {
    height: 191px;
    margin-top: 54px;
  }
  .container .banner .img_banner {
    width: 696px;
    height: auto;
    flex-shrink: 0;
  }
  .container .banner .img_banner .img {
    width: 100%;
    height: 191px;
    flex-shrink: 0;
  }
  .container .banner .content_banner {
    display: none;
  }
  .container .body {
    width: 696px;
  }
  .container .body .list .all_list .more_list .all_information_list .title_list_respon {
    display: flex;
    text-decoration: none;
  }
  .container .body .list .all_list .more_list .all_information_list .title_list_respon a {
    text-decoration: none;
  }
  .container .body .list .all_list .more_list .all_information_list .title_list_respon a p {
    color: #3b4144;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.027px;
  }
  .container .body .list .all_list .more_list .all_information_list .title_list_respon a p:hover {
    color: #007882;
  }
  .container .body .list .all_list .more_list .all_information_list .title_list {
    display: none;
  }
  .container .body .list .all_list_responsive {
    display: none;
  }
}
@media (max-width: 420px) {
  .header {
    width: 100%;
    height: 80px;
  }
  .header .profile_header {
    display: none;
  }
  .header .reponsive_logo {
    margin-left: 22px;
  }
  .header .reponsive_logo .reponsive_logo_menu {
    margin-right: 16.5px;
  }
  .header .information_header .notify_img {
    margin-right: 18px;
  }
  .header .information_header .heart {
    margin-right: 18px;
  }
  .header .information_header .avatar {
    margin-right: 22px;
  }
  .container {
    padding-top: 80px;
  }
  .container .banner {
    height: 90.835px;
    margin-top: 20px;
  }
  .container .banner .img_banner {
    width: 331px;
    height: auto;
    flex-shrink: 0;
  }
  .container .banner .img_banner .img {
    width: 100%;
    height: 90.835px;
    flex-shrink: 0;
  }
  .container .banner .content_banner {
    display: none;
  }
  .container .body {
    width: 331px;
    margin: unset;
    margin-top: 16.17px;
    margin-left: 22px;
  }
  .container .body .name_body {
    margin-top: 24px;
  }
  .container .body .name_body img {
    width: 24px;
    height: 24px;
  }
  .container .body .name_body .name {
    margin-left: 8px;
  }
  .container .body .name_body .name p {
    color: #3b4144;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.21px;
  }
  .container .body .list {
    margin-top: 24px;
  }
  .container .body .list .all_list {
    display: none;
  }
  .container .body .list .all_list_responsive {
    display: inline;
  }
  .container .body .list .all_list_responsive .more_list_responsive {
    margin-top: 24.45px;
  }
  .container .body .list .all_list_responsive .more_list_responsive .title_list a {
    text-decoration: none;
  }
  .container .body .list .all_list_responsive .more_list_responsive .title_list a p {
    color: #3b4144;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 150% */
  }
  .container .body .list .all_list_responsive .more_list_responsive .title_list a p:hover {
    color: #007882;
  }
  .container .body .list .all_list_responsive .more_list_responsive .information_list {
    display: inline-flex;
  }
  .container .body .list .all_list_responsive .more_list_responsive .information_list .type_list {
    color: #007882;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.175px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .container .body .list .all_list_responsive .more_list_responsive .information_list .ellipse {
    margin-right: 6px;
  }
  .container .body .list .all_list_responsive .more_list_responsive .information_list .user_list {
    color: #3b4144;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.5px;
    letter-spacing: 0.015px;
    margin-right: 6px;
  }
  .container .body .list .all_list_responsive .more_list_responsive .information_list .date_list {
    color: #3b4144;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.5px;
    letter-spacing: 0.015px;
    opacity: 0.5;
    margin-right: 6px;
  }
  .container .body .list .all_list_responsive .more_list_responsive .under {
    display: flex;
    width: 331px;
    height: 105.417px;
  }
  .container .body .list .all_list_responsive .more_list_responsive .under .img_list {
    margin-top: 8px;
    width: 545px;
    height: 105.417px;
  }
  .container .body .list .all_list_responsive .more_list_responsive .under .img_list #img {
    width: 161px;
    height: 105.417px;
    position: absolute;
  }
  .container .body .list .all_list_responsive .more_list_responsive .under .img_list #like_list {
    margin-left: 16px;
    margin-top: 65.13px;
    position: absolute;
  }
  .container .body .list .all_list_responsive .more_list_responsive .under .content_list {
    display: flex;
    align-items: center;
    margin-left: 9px;
    opacity: 0.5;
  }
  .container .body .list .footer_list .all_list {
    display: flex;
  }
}

/*# sourceMappingURL=responsive5.css.map */
