* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.header {
  width: 100%;
  height: 75px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  backdrop-filter: blur(30px);
}

.information_post, .container .body .post_body .more_post .information_post, .container .body .post_body .select_post .information_post {
  display: inline-flex;
  margin-bottom: 6px;
}
.information_post .type_post, .container .body .post_body .more_post .information_post .type_post, .container .body .post_body .select_post .information_post .type_post {
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  line-height: 22.5px;
  letter-spacing: 0.175px;
  color: #007882;
}
.information_post .user_post, .container .body .post_body .more_post .information_post .user_post, .container .body .post_body .select_post .information_post .user_post, .information_post .date_post, .container .body .post_body .more_post .information_post .date_post, .container .body .post_body .select_post .information_post .date_post {
  padding-left: 8px;
  color: var(--primary-black, #3b4144);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px;
  letter-spacing: 0.015px;
}
.information_post .date_post, .container .body .post_body .more_post .information_post .date_post, .container .body .post_body .select_post .information_post .date_post {
  opacity: 0.5;
}
.information_post .ellipse, .container .body .post_body .more_post .information_post .ellipse, .container .body .post_body .select_post .information_post .ellipse {
  padding-left: 8px;
}

.title_post, .container .body .post_body .more_post .title_post, .container .body .post_body .select_post .title_post {
  width: 576px;
  text-decoration: none;
}
.title_post p, .container .body .post_body .more_post .title_post p, .container .body .post_body .select_post .title_post p {
  color: #3b4144;
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
  letter-spacing: 0.027px;
  margin-top: 16px;
}

.menu_header, .information_header, .logo {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu_header a:first-child, .information_header a:first-child, .logo a:first-child {
  margin-left: 48px;
}
.menu_header a:last-child, .information_header a:last-child, .logo a:last-child {
  opacity: 1;
  padding-top: 9px;
  padding-bottom: 8px;
  border-bottom: 2px solid #d93c23;
  border-radius: 1px;
}
.menu_header a, .information_header a, .logo a {
  margin-left: 47.25px;
  text-decoration: none;
  color: #3b4144;
  opacity: 0.5;
}

.information_header .avatar {
  margin-right: 48px;
}
.information_header .heart {
  margin-right: 24px;
}
.information_header .post_header .post {
  border: 0;
  color: #ffffff;
  margin-right: 24px;
  padding: 6px 24px;
  border-radius: 30px;
  background-color: #d93c23;
}
.information_header .profile_header {
  margin-right: 24px;
}
.information_header .profile_header .job {
  font-weight: normal;
  text-align: end;
  opacity: 0.5;
}

.container {
  padding-top: 100px;
}
.container .banner {
  height: 478px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container .banner .content_banner {
  position: absolute;
  height: 390px;
  width: 1416px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 124.5px;
}
.container .banner .content_banner .review_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .banner .content_banner .review_img #home_review {
  padding-bottom: 12px;
}
.container .body {
  margin-top: 36px;
  width: 936px;
  margin-left: auto;
  margin-right: auto;
}
.container .body .menu_body {
  display: flex;
  height: 39px;
  width: 100%;
  align-items: center;
}
.container .body .menu_body .list_menu:first-child {
  color: #ffffff;
  background-color: #007882;
  border-radius: 36px;
}
.container .body .menu_body .list_menu {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #3b4144;
  padding: 6px 36px;
  margin-right: 16px;
}
.container .body .name_body {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.container .body .name_body .name {
  line-height: 48px;
  margin-left: 24px;
}
.container .body .name_body .name p {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  color: #3b4144;
}
.container .body .post_body {
  display: flex;
  margin-top: 36px;
  justify-content: center;
}
.container .body .post_body .select_post .img_post {
  width: 576px;
  height: 455px;
  position: relative;
}
.container .body .post_body .select_post .img_post #img_post {
  position: absolute;
}
.container .body .post_body .select_post .img_post #like_post {
  position: absolute;
  margin-left: 528px;
  margin-top: 24px;
}
.container .body .post_body .select_post .content_post {
  margin-top: 6px;
  width: 576px;
  height: 90px;
}
.container .body .post_body .select_post .content_post p {
  opacity: 0.5;
  color: #3b4144;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.08px;
}
.container .body .post_body .more_post {
  margin-left: 24px;
}
.container .body .post_body .more_post .img_post {
  width: 336px;
  height: 220px;
  position: relative;
}
.container .body .post_body .more_post .img_post #img_post {
  position: absolute;
}
.container .body .post_body .more_post .img_post #like_post {
  position: absolute;
  margin-left: 288px;
  margin-top: 24px;
}
.container .body .post_body .more_post .title_post {
  width: 336px;
}
.container .body .video_body {
  margin-top: 59px;
}
.container .body .video_body .video_body_name {
  display: flex;
  justify-content: space-between;
}
.container .body .video_body .video_body_name .video p {
  color: #3b4144;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.027px;
}
.container .body .video_body .video_body_name .all_video a {
  text-decoration: none;
}
.container .body .video_body .video_body_name .all_video a p {
  color: #3b4144;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px;
  letter-spacing: 0.015px;
}
.container .body .video_body .videos {
  display: flex;
  margin-top: 24px;
}
.container .body .video_body .videos .select_video {
  width: 696px;
  height: 391.5px;
  flex-shrink: 0;
}
.container .body .video_body .videos .select_video .img_video {
  width: 696px;
  height: 391.5px;
  position: absolute;
}
.container .body .video_body .videos .select_video .img_video #img_video {
  position: absolute;
}
.container .body .video_body .videos .select_video .img_video #like_video {
  position: absolute;
  margin-left: 648px;
  margin-top: 24px;
}
.container .body .video_body .videos .select_video .img_video .play_video .border_play {
  margin-left: 300px;
  margin-top: 147.75px;
  position: absolute;
  width: 96px;
  height: 96px;
  border-radius: 48px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.25) 100%);
  backdrop-filter: blur(37.5px);
}
.container .body .video_body .videos .select_video .img_video .play_video .play_video {
  position: absolute;
  margin-left: 324px;
  margin-top: 171.75px;
}
.container .body .video_body .videos .select_video .gradient_video {
  width: 696px;
  height: 181.833px;
  flex-shrink: 0;
  border-radius: 24px;
  background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  margin-top: 210.67px;
}
.container .body .video_body .videos .select_video .gradient_video .title_video {
  margin-top: 117.83px;
  margin-left: 36px;
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.027px;
}
.container .body .video_body .videos .select_video .gradient_video .information_video {
  display: inline-flex;
}
.container .body .video_body .videos .select_video .gradient_video .information_video .view_video {
  margin-left: 36px;
  margin-right: 8px;
  color: #ffffff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px;
  letter-spacing: 0.015px;
}
.container .body .video_body .videos .select_video .gradient_video .information_video .date {
  margin-right: 8px;
  color: #ffffff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px;
  letter-spacing: 0.015px;
  opacity: 0.5;
}
.container .body .video_body .videos .list_video {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 391.5px;
  width: 216px;
  padding-right: 16px;
}
.container .body .video_body .videos .list_video .more_video .img_video {
  width: 200px;
  height: 121.5px;
  flex-shrink: 0;
  position: relative;
}
.container .body .video_body .videos .list_video .more_video .img_video #img_video {
  position: absolute;
  width: 200px;
}
.container .body .video_body .videos .list_video .more_video .img_video #like_video {
  position: absolute;
  margin-left: 163px;
  margin-top: 11px;
}
.container .body .video_body .videos .list_video .more_video .img_video .play_video .border_play {
  margin-left: 76px;
  margin-top: 34px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-radius: 48px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.25) 100%);
  backdrop-filter: blur(37.5px);
}
.container .body .video_body .videos .list_video .more_video .img_video .play_video .play_video {
  position: absolute;
  margin-left: 89px;
  margin-top: 46px;
}
.container .body .video_body .videos .list_video .more_video .title_video {
  margin-bottom: 4px;
  margin-top: 8px;
}
.container .body .video_body .videos .list_video .more_video .title_video a {
  text-decoration: none;
}
.container .body .video_body .videos .list_video .more_video .title_video a p {
  color: #3b4144;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.175px;
}
.container .body .video_body .videos .list_video .more_video .information_video {
  display: inline-flex;
  margin-bottom: 16.5px;
}
.container .body .video_body .videos .list_video .more_video .information_video .view_video {
  color: #3b4144;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.012px;
}
.container .body .video_body .videos .list_video .more_video .information_video .ellipse {
  margin-left: 8px;
}
.container .body .video_body .videos .list_video .more_video .information_video .date {
  color: #3b4144;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.012px;
  margin-left: 8px;
}
.container .body .list {
  margin-top: 56px;
}
.container .body .list .header_list {
  display: flex;
}
.container .body .list .header_list .name_list p {
  color: #3b4144;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.027px;
}
.container .body .list .all_list {
  margin-top: 36.5px;
}
.container .body .list .all_list .more_list {
  display: flex;
  margin-bottom: 36px;
}
.container .body .list .all_list .more_list .img_list {
  width: 336px;
  height: 220px;
  flex-shrink: 0;
}
.container .body .list .all_list .more_list .img_list #img {
  position: absolute;
  width: 336px;
  height: 220px;
}
.container .body .list .all_list .more_list .img_list #like_list {
  position: absolute;
  margin-left: 288px;
  margin-top: 24px;
}
.container .body .list .all_list .more_list .all_information_list {
  margin-left: 24px;
  margin-top: auto;
  margin-bottom: auto;
}
.container .body .list .all_list .more_list .all_information_list .title_list a {
  text-decoration: none;
}
.container .body .list .all_list .more_list .all_information_list .title_list a p {
  color: #3b4144;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.027px;
}
.container .body .list .all_list .more_list .all_information_list .information_list {
  display: inline-flex;
}
.container .body .list .all_list .more_list .all_information_list .information_list .type_list {
  color: #007882;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.175px;
  margin-top: auto;
  margin-bottom: auto;
}
.container .body .list .all_list .more_list .all_information_list .information_list .ellipse {
  margin-right: 8.8px;
}
.container .body .list .all_list .more_list .all_information_list .information_list .user_list {
  color: #3b4144;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px;
  letter-spacing: 0.015px;
  margin-right: 8.8px;
}
.container .body .list .all_list .more_list .all_information_list .information_list .date_list {
  color: #3b4144;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px;
  letter-spacing: 0.015px;
  opacity: 0.5;
  margin-right: 8.8px;
}
.container .body .list .all_list .more_list .all_information_list .content_list p {
  color: #3b4144;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.08px;
  opacity: 0.5;
}
.container .body .list .footer_list {
  display: flex;
  justify-content: center;
  margin-bottom: 217.5px;
}
.container .body .list .footer_list .all_list .click {
  display: flex;
  width: 216px;
  height: 56px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1.25px solid var(--primary-black, #3b4144);
  background-color: #ffffff;
  text-decoration: none;
  color: #3B4144;
}

/*# sourceMappingURL=style.css.map */
