@media (min-width: 1025px) {
  .header {
    .information_header {
      .notify_img {
        display: none;
      }
    }
  }
  .container {
    .news {
      .news_body {
        .all_information_news {
          .share_news {
            .mail {
              display: flex;
              height: 32px;
              padding: 2px 20px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              flex-shrink: 0;
              border-radius: 30px;
              background: var(--secondary-grey, #ccc);
              text-decoration: none;
            }
          }
        }
      }
    }
    .post {
      .post_header {
        .right_header {
          a {
            .responsive {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    width: 100%;
    height: 75px;
    .menu_header {
      display: none;
    }
    .reponsive_logo {
      width: auto;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 44px;
      .reponsive_logo_menu {
        margin-right: 24px;
      }
    }
    .logo {
      display: none;
    }
    .information_header {
      .post_header {
        display: none;
      }
      .notify_img {
        width: 24px;
        height: 24px;
        margin-right: 24px;
      }
      .avatar {
        margin-right: 44px;
      }
    }
  }
  .container {
    .news {
      width: 90%;
    }
    .post {
      width: 90%;
    }
  }
}

@media (max-width: 800px) {
  .header {
    width: 100%;
    height: 75px;
    .profile_header {
      display: none;
    }
  }
  .container {
    .news {
      .news_body {
        .all_information_news {
          .share_news {
            .mail {
              .mail_text {
                display: none;
              }
            }
            .facebook {
              .fb_text {
                display: none;
              }
            }
            .like {
              .like_text {
                display: none;
              }
            }
          }
        }
      }
    }
    .post {
      width: 90%;
      .all_list {
        .more_list {
          .all_information_list {
            .title_list_respon {
              display: flex;
              text-decoration: none;
              a {
                text-decoration: none;
                p {
                  color: #3b4144;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 27px;
                  letter-spacing: 0.027px;
                }
                p:hover {
                  color: #007882;
                }
              }
            }
            .title_list {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .header {
    width: 100%;
    height: 80px;
    .profile_header {
      display: none;
    }
    .reponsive_logo {
      margin-left: 22px;
      .reponsive_logo_menu {
        margin-right: 16.5px;
      }
    }
    .information_header {
      .notify_img {
        margin-right: 18px;
      }
      .heart {
        margin-right: 18px;
      }
      .avatar {
        margin-right: 22px;
      }
    }
  }
  .container {
    margin-top: 120px;
    .news {
      .news_header {
        .column {
          .column_text {
            display: none;
          }
        }
      }
    }
    .news_body {
      .all_information_news {
        flex-direction: column;
        .information_news {
          .type_post {
            font-size: 13px;
          }
          .user_post {
            font-size: 12px;
          }
          .date_post {
            font-size: 12px;
          }
        }
        .share_news {
          justify-content: space-between;
          .mail {
            width: 20%;
          }
          .facebook {
            width: 20%;
          }
          .like {
            width: 20%;
          }
        }
      }
      .content_header2 {
        font-size: 16px;
      }
      .content2 {
        font-size: 14px;
      }
      .list_content {
        li {
          font-size: 14px;
          b {
            font-size: 14px;
          }
        }
      }
    }
    .post {
      .post_header {
        .left_header {
          p {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 21px; /* 150% */
          }
          a {
            display: inline-flex;
            padding: 4px 24px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 36px;
            background: var(--secondary-green, #007882);
            font-size: 14px;
          }
        }
        .right_header {
          a {
            p {
              display: none;
            }
            .responsive {
              display: block;
            }
          }
        }
      }
      .all_list {
        display: none;
      }
      .all_list_responsive {
        display: inline;
        .more_list_responsive {
          margin-top: 34px;
          .title_list {
            a {
              text-decoration: none;
              p {
                color: #3b4144;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 21px; /* 150% */
              }
              p:hover {
                color: #007882;
              }
            }
          }
          .information_list {
            display: inline-flex;
            .type_list {
              color: #007882;
              font-size: 13px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: 0.175px;
              margin-top: auto;
              margin-bottom: auto;
              margin-right: 6px;
            }
            .ellipse {
              margin-right: 6px;
            }
            .user_list {
              color: #3b4144;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 22.5px;
              letter-spacing: 0.015px;
              margin-right: 6px;
            }
            .date_list {
              color: #3b4144;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 22.5px;
              letter-spacing: 0.015px;
              opacity: 0.5;
              margin-right: 6px;
            }
          }
          .under {
            display: flex;
            width: 100%;
            .img_list {
              margin-top: 8px;
              width: 50%;
              height: 105.417px;
              #img {
                width: 44%;
                height: 105.417px;
                position: absolute;
              }
              #like_list {
                margin-left: 16px;
                margin-top: 65.13px;
                position: absolute;
              }
            }
            .content_list {
              width: 50%;
              display: flex;
              align-items: center;
              margin-left: 9px;
              opacity: 0.5;
              p {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px; /* 150% */
                letter-spacing: 0.07px;
              }
            }
          }
        }
      }
    }
  }
}
