* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.header {
  width: 100%;
  height: 75px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  backdrop-filter: blur(30px);
}
.menu_header {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  a.menu_header1:first-child {
    margin-left: 48px;
  }

  a.menu_header1:hover {
    opacity: 0.7;
  }

  a.menu_header1:focus {
    opacity: 1;
    padding-top: 9px;
    padding-bottom: 8px;
    border-bottom: 2px solid #d93c23;
    border-radius: 1px;
  }

  a.menu_header1 {
    margin-left: 47.25px;
    text-decoration: none;
    color: #3b4144;
    opacity: 0.5;
  }
}
.logo {
  @extend .menu_header;
}

.information_header {
  @extend .menu_header;

  .avatar {
    margin-right: 48px;
  }

  .heart {
    margin-right: 24px;
  }

  .post_header {
    .post {
      border: 0;
      color: #ffffff;
      margin-right: 24px;
      padding: 6px 24px;
      border-radius: 30px;
      background-color: #d93c23;
      text-decoration: none;
    }
    .post:hover {
      opacity: 0.8;
    }
  }

  .profile_header {
    margin-right: 24px;

    .job {
      font-weight: normal;
      text-align: end;
      opacity: 0.5;
    }
  }
}
.container {
  padding-top: 100px;

  .banner {
    height: 478px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .content_banner {
      position: absolute;
      height: 390px;
      width: 1416px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 124.5px;

      .review_img {
        display: flex;
        flex-direction: column;
        justify-content: center;

        #home_review {
          padding-bottom: 12px;
        }
      }
    }
  }
  .body {
    margin-top: 36px;
    width: 936px;
    margin-left: auto;
    margin-right: auto;
    .menu_body {
      display: flex;
      height: 39px;
      width: 100%;
      align-items: center;

      .list_menu:hover {
        opacity: 0.8;
      }

      .list_menu {
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        color: #3b4144;
        padding: 6px 36px;
        margin-right: 16px;
      }

      .list5 {
        color: #ffffff;
        background-color: #007882;
        border-radius: 36px;
      }
    }
    .video_body {
      margin-top: 36px;
      width: 936px;
      height: 526px;
      .select_video {
        .img_video {
          width: 936px;
          height: 526px;
          position: absolute;
          #img_video {
            width: 936px;
            height: 526px;
            position: absolute;
          }
          #like_video {
            position: absolute;
            margin-left: 888px;
            margin-top: 27px;
          }
          .play_video {
            position: absolute;
            .border_play {
              margin-left: 420px;
              margin-top: 215px;
              position: absolute;
              width: 96px;
              height: 96px;
              border-radius: 48px;
              background: linear-gradient(
                94deg,
                rgba(255, 255, 255, 0.5) 0%,
                rgba(255, 255, 255, 0.25) 100%
              );
              backdrop-filter: blur(37.5px);
            }
            .play_video {
              position: absolute;
              margin-left: 444px;
              margin-top: 239px;
            }
          }
        }
        a {
          .gradient_video {
            width: 936px;
            height: 280px;
            flex-shrink: 0;
            border-radius: 24px;
            background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
            position: absolute;
            margin-top: 247px;
            .title_video {
              margin-top: 189.5px;
              margin-left: 36px;
              color: #ffffff;
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: 27px;
              letter-spacing: 0.027px;
            }
            .title_video:hover {
              color: #007882;
            }
            .information_video {
              display: inline-flex;
              .view_video {
                margin-left: 36px;
                margin-right: 8px;
                color: #ffffff;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 22.5px; /* 150% */
                letter-spacing: 0.015px;
              }
              .date {
                margin-left: 8px;
                color: #ffffff;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 22.5px; /* 150% */
                letter-spacing: 0.015px;
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
    .all_videos {
      margin-top: 36px;
      .all {
        margin-bottom: 24px;
      }
      .videos {
        display: flex;
        .all_video_left {
          width: 456px;
          .more_video {
            height: 421px;
            width: 456px;
            .img_video {
              width: 456px;
              height: 257px;
              #img_video {
                width: 456px;
                height: 257px;
                position: absolute;
              }
              #like_video {
                position: absolute;
                margin-left: 408px;
                margin-top: 24px;
              }
              .play_video {
                .border_play {
                  margin-left: 204px;
                  margin-top: 105px;
                  position: absolute;
                  width: 48px;
                  height: 48px;
                  border-radius: 48px;
                  background: linear-gradient(
                    94deg,
                    rgba(255, 255, 255, 0.5) 0%,
                    rgba(255, 255, 255, 0.25) 100%
                  );
                  backdrop-filter: blur(37.5px);
                }
                .play_video {
                  width: 24px;
                  height: 24px;
                  margin-left: 217px;
                  margin-top: 117px;
                  position: absolute;
                }
              }
            }
            .title_video {
              margin-top: 16px;
              a {
                text-decoration: none;
                p {
                  color: #3b4144;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 27px;
                  letter-spacing: 0.027px;
                }
                p:hover {
                  color: #007882;
                }
              }
            }
            .information_video {
              display: inline-flex;
              .view_video {
                margin-right: 8px;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 22.5px; /* 150% */
                letter-spacing: 0.015px;
              }
              .date {
                margin-left: 8px;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 22.5px; /* 150% */
                letter-spacing: 0.015px;
                opacity: 0.5;
              }
            }
          }
        }
        .all_video_right {
          margin-left: 24px;
          @extend .all_video_left;
        }
      }
    }
    .footer_list {
      display: flex;
      justify-content: center;
      margin-bottom: 217.5px;
      .all_list {
        .click {
          display: flex;
          width: 216px;
          height: 56px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          flex-shrink: 0;
          border-radius: 30px;
          border: 1.25px solid var(--primary-black, #3b4144);
          background-color: #ffffff;
          text-decoration: none;
          color: #3b4144;
        }
        .click:hover {
          background-color: #007882;
          color: #ffffff;
          border: 1.25px solid #ffffff;
        }
      }
    }
  }
}
